/* Customize the label (the custom_checkbox) */
.custom_checkbox {
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-inline-size: fit-content;
}



/* Hide the browser's default checkbox */
.custom_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.custom_checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #e6e6e6;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.custom_checkbox:hover input ~ .checkmark {
    background-color: #969696;
    transition-duration: 0.5s;
}

/* on mouse click down */
.custom_checkbox:active:hover input ~ .checkmark {
    translate: 0 5px;
    transition-duration: 0.01s;
}

/* When the checkbox is checked, add a blue background */
.custom_checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
    scale: 1.25;
    transition-duration: 0.5s;
}
.custom_checkbox input:not(:checked) ~ .checkmark {
    scale: 1;
    transition-duration: 0.5s;
}

/* Create the checkmark / indicator */
.custom_checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: block;
}

/* Show the checkmark when checked */
.custom_checkbox input:checked ~ .checkmark:after {

}

/* Style the checkmark/indicator */
.custom_checkbox .checkmark:before {
    opacity: 50%;
}
.custom_checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 100%;
    transition-duration: 0.5s;
}